.MenuLayoutBox {
  background-color:green;
  color: white;
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  left: 0;
  box-shadow: 2px 2px 2px #1B1C21;
}

.authBtn{
  margin-left: auto;
  color: white;
}
